@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #ede9d0;
	color: #ede9d0;
	height: 100dvh;
	width: 100%;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif !important;
}

body > #app {
	height: 100%;
	width: 100%;
}

::-moz-selection {
	color: #24201f;
	background: #fceac8;
}

::selection {
	color: #181616;
	background: #fceac8;
}
::-webkit-scrollbar {
	display: none;
}
::-webkit-scrollbar-track {
	display: none;
}
::-webkit-scrollbar-thumb {
	display: none;
}

.stack {
	display: grid;
}
.stack > * {
	grid-area: 1 / 1 / 2 / 2;
}

.outline-text {
	-webkit-text-stroke-color: #ede9d0;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
}
.outline-text-hover {
	-webkit-text-stroke-color: #24201f !important;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
}

/* .cursor {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    background-color: white;
    z-index: 10000;
    height: 10px;
    width: 10px;
    transition: all 25ms ease-out;
  }


.cursorCircle {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    background-color: transparent;
    z-index: 10000;
    border: 2px solid white;
    height: 30px;
    width: 30px;
    transition: all 150ms ease-out;
  }
 */

:root {
	--svooltip-bg: rgb(27, 27, 25);
	--svooltip-text: #ede9d0;
}

code[class*='language-'],
pre[class*='language-'] {
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: normal;
	font-family: Menlo, Monaco, 'Courier New', monospace;
	font-size: 14px;
	color: #76d9e6;
	text-shadow: none;
}
code[class*='language-']:before,
pre[class*='language-']:before {
	content: attr(class);
	position: absolute;
	top: 0;
	right: 0;
	background-color: hwb(0 0% 100% / 0.247);
	color: #fff;
	padding: 0.25em 0.5em;
	border-top-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}
pre > code[class*='language-'] {
	font-size: 1em;
}

pre[class*='language-'],
:not(pre) > code[class*='language-'] {
	background: rgba(0, 0, 0, 0.4);
}

pre[class*='language-'] {
	padding: 15px;
	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	overflow: auto;
	position: relative;
}

pre[class*='language-'] code {
	white-space: pre;
	display: block;
}

:not(pre) > code[class*='language-'] {
	padding: 0.15em 0.2em 0.05em;
	border-radius: 0.3em;
	border: 0.13em solid #7a6652;
	box-shadow: 1px 1px 0.3em -0.1em #000 inset;
}

.token.namespace {
	opacity: 0.7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #6f705e;
}

.token.operator,
.token.boolean,
.token.number {
	color: #a77afe;
}

.token.attr-name,
.token.string {
	color: #e6d06c;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #e6d06c;
}

.token.selector,
.token.inserted {
	color: #a6e22d;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.important,
.token.deleted {
	color: #ef3b7d;
}

.token.regex,
.token.statement {
	color: #76d9e6;
}

.token.placeholder,
.token.variable {
	color: #fff;
}

.token.important,
.token.statement,
.token.bold {
	font-weight: bold;
}

.token.punctuation {
	color: #bebec5;
}

.token.entity {
	cursor: help;
}

.token.italic {
	font-style: italic;
}

code.language-markup {
	color: #f9f9f9;
}

code.language-markup .token.tag {
	color: #ef3b7d;
}

code.language-markup .token.attr-name {
	color: #a6e22d;
}

code.language-markup .token.attr-value {
	color: #e6d06c;
}

code.language-markup .token.style,
code.language-markup .token.script {
	color: #76d9e6;
}

code.language-markup .token.script .token.keyword {
	color: #76d9e6;
}

/* Line highlight plugin */
.line-highlight.line-highlight {
	padding: 0;
	background: rgba(255, 255, 255, 0.08);
}

.line-highlight.line-highlight:before,
.line-highlight.line-highlight[data-end]:after {
	padding: 0.2em 0.5em;
	background-color: rgba(255, 255, 255, 0.4);
	color: black;
	height: 1em;
	line-height: 1em;
	box-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

.line-numbers {
	display: block;
	counter-reset: linenumber;
}
.line-numbers > span:before {
	content: counter(linenumber);
	counter-increment: linenumber;
	padding-right: 0.8em;
	opacity: 0.5;
	color: #aaa;
}

.toolPhlip {
	position: absolute;
	white-space: nowrap;
	background-color: rgba(0, 0, 0, 0.753);
	color: #ede9d0;
	border-radius: 8px;
	padding: 5px 10px;
	font-size: 13px;
	font-weight: 600;
	top: -40px;
	left: 50%;
	transform: translate(-50%, 0);
}
.toolPhlip::before {
	content: '';
	position: absolute;
	bottom: -0.5rem;
	left: 50%;
	translate: -50% 0;
	width: 1rem;
	height: 1rem;
	rotate: 45deg;
	z-index: -1;
	background-color: inherit;
}
.tooltip {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 5px 10px;
	border-radius: 4px;
	white-space: nowrap;
	pointer-events: none;
	z-index: 1000;
	opacity: 0;
	transition: opacity 0.3s;
}
